article {
  font-family: "Courier New", Courier, monospace;
  background-color: #f2e3db;
  height: 800px;
  font-size: 20px;
}

.detail{
  text-align: justify;
  margin-top:8% ;
  padding: 1%;
  background-color: #ffddcbf3;
}

.row img{
  margin-top: 5%;
  max-width: 20%;
  height: auto;
  object-fit: scale-down;
}